<nav>
    <div class="siti-title">
    
        <a href="/"><h1>This is a Blog site</h1></a>     
        <p>A simple Blog site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>  
</nav>